@charset "UTF-8";

@font-face {
	font-family: CeliaGarcia;
	src: url('../font/CeliaGarcia.ttf') format('truetype');
}

body {
	margin: 0;
	padding: 0;
	font-family: CeliaGarcia, Calibri, sans-serif !important;
	background-color: rgba(0, 0, 0, 0.11);
	background-image: url('../img/gr_pattern_bkg.png');
}

#wrapper {
	width: 625px;
	margin: 0px auto;
}

#header {
	text-align: center;
	margin-bottom: 12px;
	display: flex;
	justify-content: center
}

h1 {
	font-size: 40pt;
	text-align: center;
	text-transform: uppercase;
	margin: 15px;
}

#info-box,#button-box {
	display: flex;
	align-items: center;
}

#score-point,#timepoint {
	width: 110px;
	height: 60px;
	border-radius: 5px;
	margin-right: 20px;
	background-color: rgba(158, 170, 255, 0.37);
}

#start-button,#reset-button,#solve-button {
	width: 100px;
	height: 40px;
	border-radius: 5px;
	margin-left: 10px;
	background-color: rgba(18, 73, 7, 0.17);
	cursor: pointer;
}

.text {
	display: block;
	text-align: center;
	padding-top: 7px;
	font-weight: bold;
	font-size: 16pt;
}

.num {
	display: block;
	text-align: center;
	font-size: 15pt;
}

#play-box {
	clear: both;
	height: 500px;
	width: 500px;
	margin: 20px auto 20px auto;
	background-color: rgba(0, 119, 24, 0.29);
	border-radius: 10px;
}

#grid {
	width: 100%;
	height: 100%;
	position: relative;
}

.row {
	height: 115px;
}

.row .grid-cell {
	width: 103px;
	height: 103px;
	float: left;
	margin: 6px;
	background-color: rgba(0, 0, 0, 0.11);
	border-radius: 10px;
}

#cells-container {
	padding: 20px;
}

#tiles-container {
	position: absolute;
}

.tile {
	position: absolute;
	background-color: rgba(255, 255, 165, 1);
	width: 103px;
	height: 103px;
	border-radius: 10px;
	line-height: 105px;
	text-align: center;
	font-weight: bold;
	font-size: 30pt;
	cursor: pointer;
	display: none;
	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
}

.tile:HOVER {
	background-color: rgba(255, 255, 165, 0.88);
}

/* .tile */

#overlay,#overlay-layer {
	width: 460px;
	height: 460px;
	padding: 20px;
	position: absolute;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.66);
	border-radius: 10px;
}

#overlay-button,#overlay-result-message {
	color: white;
	font-size: 78pt;
	margin: 170px auto;
	cursor: pointer;
	text-align: center;
	overflow: auto;
}

#overlay-result-message {
	width: 400px;
	cursor: default;
	margin: 100px auto 10px;
}

#overlay-submessage {
	cursor: default;
	color: white;
	font-size: 23pt;
}

#overlay-button:HOVER {
	opacity: 0.8;
}

#overlay-inner {
	width: 100%;
	height: 100%;
	text-align: center;
	display: none;
}

#instructions, footer {
	width: 500px;
	margin: 40px auto 0px auto;
	font-size: 18pt;
	padding-bottom: 25px;
}

#overlay-layer {
	display: none;
	top: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.66);
}

/* Directions */
.move-left {
	transform: translate(-121px, 0px);
	-webkit-transform: translate(-121px, 0px);
}

.move-right {
	transform: translate(121px, 0px);
	-webkit-transform: translate(121px, 0px);
}

.move-up {
	transform: translate(0px, -121px);
	-webkit-transform: translate(0px, -121px);
}

.move-down {
	transform: translate(0px, 121px);
	-webkit-transform: translate(0px, 121px);
}